.main {
    max-width: 800px;
    margin: 0 auto;
}

.error{
    color:red;
}

.main__title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.main__form {
    text-align: center;
    margin-top: 100px;
}

.main__form--table {
    width: 100%;
    margin: 0 auto;
}

.main__form--table th {
    text-align: left;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.main__form--table td {
    padding-bottom: 20px;
}

.main__form--table-gender th{
    padding-top:60px ;
    padding-bottom: 30px;
}

.main__form--table-gender td {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: left;
}

input[type="radio"] {
    margin-right: 30px;
    margin-left: 30px;
    transform: scale(3.0);
    accent-color: black;
}

.main__form--table-input {
    height: 40px;
    width: 98%;
    border-radius: 3px;
}

.main__form--table-address {
    height: 40px;
    width: 95%;
    border-radius: 3px;
    float: right;
}

#input-name {
    display: flex;
    height: 40px;
    width: 100%;
}

.input-name-item{
    width: 100%;
    text-align: left;
}

.input-name-item-example{
    padding: 20px 0 0 0;
}

.input-name-item input {
    border-radius: 5px;
    width: 95%;
    height: 40px;
}

.main__form--table-example{
    text-align: left;
}

.main__form--submit {
    margin-top: 25px;
}

.main__form--submit input {
    margin: 25px;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

span {
    color: red;
}

label {
    font-size: 25px;
}

textarea {
    width: 98%;
    height: 200px;
    border-radius: 5px;
    border: 2px solid black;
}

p {
    color: gray;
    margin:0.01em 0;
    padding: 0.01em 0;
}





